<!-- <p>testes works</p>
<section class="example-section">
  <mat-checkbox [(ngModel)]="checkboxValue" class="example-margin">Check me!</mat-checkbox>
  <mat-checkbox class="example-margin">Disabled</mat-checkbox>
</section>
<p>{{ checkboxValue }}</p>
<section class="example-section">
  <span class="example-list-section">
    <mat-checkbox class="example-margin"
                  [checked]="allComplete"
                  [color]="task.color"
                  [indeterminate]="someComplete()"
                  (change)="setAll($event.checked)">
      {{task.name}}
    </mat-checkbox>
  </span>
  <span class="example-list-section">
    <ul>
      @for (subtask of task.subtasks; track subtask) {
        <li>
          <mat-checkbox [(ngModel)]="subtask.completed"
                        [color]="subtask.color"
                        (ngModelChange)="updateAllComplete()">
                       
            {{subtask.name}}
            <p>{{ subtask.completed }}</p>
          </mat-checkbox>
        </li>
      }
    </ul>
  </span>
</section>




<form>
  <mat-form-field class="example-chip-list">
    <mat-label>Favorite Fruits</mat-label>
    <mat-chip-grid #chipGrid aria-label="Fruit selection">
      @for (fruit of fruits; track fruit) {
        <mat-chip-row (removed)="remove(fruit)">
          {{fruit}}
          <button matChipRemove [attr.aria-label]="'remove ' + fruit">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      }
    </mat-chip-grid>
    <input placeholder="New Fruit..." #fruitInput [formControl]="fruitCtrl"
      [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)"/>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      @for (fruit of filteredFruits | async; track fruit) {
        <mat-option [value]="fruit">{{fruit}}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</form>

@if (1 == 1) {
  sim é igual
} @else {
 sim é igual
}

@for (item of loadingData$ | async; track item) {

  <li>{{ item }}</li>

}

@for (item of items; track items ) {

  <li>{{ item.name }}</li>

}

 -->